/Dictionary/.vs/Dictionary/v16/.suo
/Dictionary/Dictionary/bin/Dictionary.exe
/Dictionary/Dictionary/bin/Dictionary.exe.config
/Dictionary/Dictionary/bin/Dictionary.pdb
/Dictionary/Dictionary/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/Dictionary/Dictionary/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Dictionary/Dictionary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dictionary/Dictionary/obj/Debug/Dictionary.csproj.AssemblyReference.cache
/Dictionary/Dictionary/obj/Debug/Dictionary.csproj.CoreCompileInputs.cache
/Dictionary/Dictionary/obj/Debug/Dictionary.csproj.FileListAbsolute.txt
/Dictionary/Dictionary/obj/Debug/Dictionary.csproj.GenerateResource.cache
/Dictionary/Dictionary/obj/Debug/Dictionary.exe
/Dictionary/Dictionary/obj/Debug/Dictionary.frmEditSong.resources
/Dictionary/Dictionary/obj/Debug/Dictionary.frmMain.resources
/Dictionary/Dictionary/obj/Debug/Dictionary.MostUsefulWords.resources
/Dictionary/Dictionary/obj/Debug/Dictionary.pdb
/Dictionary/Dictionary/obj/Debug/Dictionary.Properties.Resources.resources
/Dictionary/Dictionary/obj/Debug/Dictionary.WinampSong.resources
/Dictionary/Dictionary/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
